* {
  font-family: 'Roboto', sans-serif;
}
/* --- NAV BAR  --- */
nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  font-family: 'Barlow', sans-serif;
}

table {
  border-spacing: 10%;
  border-collapse: separate;
}

/* --- ALL ARTWORK  --- */
.top-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top-section input {
  font-family: 'Barlow', sans-serif;
  max-height: 1rem;
  width: 10rem;
  margin: 1rem;
}

.top-section button {
  font-family: 'Barlow', sans-serif;
  max-height: 2rem;
}

.side-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.art-filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-filters select {
  margin: 1rem;
  font-family: 'Barlow', sans-serif;
  max-width: 6rem;
}

.art-grid {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.tile {
  padding: 2rem;
  width: 250px;
  height: 350px;
}

.tile > a > img {
  max-width: 250px;
  max-height: 250px;
}

.artwork-title {
  font-weight: 1000;
}
/* --- LOGIN SCREEN  --- */
.login.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#login-form {
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  text-align: center;
  align-items: center;
  background: #eef0f2;
  border-top: solid 1px #e5e6e7;
  border-left: solid 1px #e5e6e7;
  border-radius: 11px;
  box-shadow: 4px 4px 3px #F6F7F8;
}

#login-form input,
#login-button {
  margin: 1em 0.5em;
  font-size: 1em;
  border-radius: 10px;
  padding: 9px;
}

#login-form input {
  border: 1px solid #DDDDDD;
}

#login-form hr {
  width: 75%;
  border-top: 1px solid #adadad;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#login-button {
  width: 30%;
  box-shadow: none;
  border: none;
  background: #5b84ec;
}

#login-form h2 {
  margin: 0;
}

/*--- ADMIN NAV BAR --- */
.admin-nav {
  margin: 0;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-nav a {
  width: 33%;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.admin-nav a,
.admin-nav a:visited {
  text-decoration: none;
  background: #eef0f2;
  color: #5e5e5e;
}

.admin-nav a:hover,
.admin-nav a:active,
.selected-admin-link {
  color: #eef0f2;
  background: #66717e;
}

/*--- ADMIN: EDIT/ADD ART SECTION --- */

.artwork-form {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  margin: 0 1em;
  border-top: solid 1px #eef0f2;
  border-left: solid 1px #eef0f2;
  border-radius: 11px;
  box-shadow: 4px 4px 3px #F6F7F8;
  padding: 1.3rem;
}

.artwork-form * {
  font-size: 1em;
}

.artwork-form input,
.artwork-form button,
.artwork-form textarea {
  padding: 2px;
  margin: 0.5em 0;
  border-radius: 7px;
  border: solid 1px #DDDDDD;
}

.artwork-form button {
  width: 100%;
  align-self: center;
  box-shadow: none;
  padding: 3px;
}

.edit-container {
  display: flex;
  flex-flow: column nowrap;
}

.form-container, .form-img-container {
  flex: 1 0;
}

.full-form {
  flex: 1 0 70%;
  display: flex;
  justify-content: center;
}

.genre-list {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.genre-item {
  flex: 0 0 33%;
  padding: 3px;
}

/* --- TABLE USER MANAGEMENT --- */
.adminNav {
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  font-family: 'Barlow', sans-serif;
}

.adminNav div {
  padding-left: 10%;
  padding-right: 10%;
}

#table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

/* --- SINGLE ARTWORK VIEW --- */
.singleArtwork {
  display: flex;
}

.singleArtImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  max-width: 40%;
  min-width: 40%;
  background-color: rgb(240, 240, 240);
}

.singleArtImage {
  max-width: 100%;
}

.underArt {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.underArt > span > * {
  margin: 0.25rem;
}

.noQty {
  color: red;
}

.singleArtInfo {
  padding: 1rem;
}

/* --- ARTIST LIST --- */
.artist-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.artist-tile {
  background: #eef0f2;
  border-radius: 10px;
  flex: 1 1 calc(25%);
  margin: 1rem;
  padding: .5rem;
}

.artist-tile a {
  color: black;
  text-decoration: none;
  transition: all .5s;
}

.artist-tile a:hover {
  color: #caa305;
}

.artist-tile h2 {
  color: #4667b9;
}
  /* --- ACCOUNT PAGE --- */

.account {
  margin: 1rem;
}

/* --- USER ORDERS --- */
.order-info {
  background-color: lightgray;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-details {
  display: flex;
  justify-content: space-between;

}
.order-subinfo {
  align-items: left;
}

.order-subinfo h4 {
  font-weight: bolder;
}
.order-art {
  display: flex;
}
.order-item-img {
  max-width: 8rem;
  padding: 1rem;
  margin: 0, 1rem, 1rem, 0
}

/* --- REVIEWS --- */
.reviews > h2 {
  margin: .5rem;
}
.reviewContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.review {
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem;
  /* height: 100px;
  width: 200px; */
  background-color: rgb(240, 240, 240);
  overflow-y: hidden;
}

.review > p > img {
  height: 20px;
  width: 20px;
}

.rev {
  display: block;
  text-align: center;
}

.reviewText {
  width: 250px;
}

.rating {
  color: black;
  direction: rtl;
  font-size: 2rem;
}
.rating > span {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.rating > span.rated:before,
.rating > span.rated ~ span:before {
  content: "\2605";
  position: absolute;
}

.star {
  color: black;
  font-size: 2rem;
}
