* {
}
/* --- NAV BAR  --- */
nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  font-family: 'Barlow', sans-serif;
}

/* --- ALL ARTWORK  --- */
.art-filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-filters select {
  margin: 1rem;
  font-family: 'Barlow', sans-serif;
}

.art-grid {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.tile {
  padding: 2rem;
  width: 250px;
  height: 350px;
}

.tile > img {
  max-width: 250px;
  max-height: 250px;
}

.artwork-title {
  font-weight: 1000;
}
/* --- LOGIN SCREEN  --- */
.login.container {
  display: flex;
  align-items: center;
  align-content: center;
}

#login-form {
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 7%;
  width: 35%;
  text-align: center;
  align-items: center;
  background: #eef0f2;
}

#login-form input, #login-button {
  margin: 1em .5em;
  font-size: .9em;
  border-radius: 10px;
  padding: .2em;
}

#login-form input {
  border: 1px solid #93a0af;
}

#login-form hr {
  width: 75%;
}

#login-button {
  width: 30%;
  box-shadow: none;
  border: none;
  background: #5b84ec;
}

#login-form h2 {
  margin: 0;
}



